Application/KartRacingManager/Imports/Tracks/Track.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="track">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="length" type="xsd:decimal"/>
        <xsd:element name="addressId" type="xsd:integer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>